<h1>New Message</h1>

<%= render 'form', message: @message %>

<%= link_to 'Back', messages_path %>

<td><a href="/messages/4">Show</a></td>
<td><a href="/messages/4/edit">Edit</a></td>
<td><a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/messages/4">Destroy</a></td>
...
<a href="/messages/new">New Message</a>


















































































































































































































































































































































































































































































































































































































































































































































